img {
    width: 80px;
    height: 80px;
    background-color: aqua;
}


 .Big {
    width: 300px;
    height: 200px;
}

h1 {
 text-align:center;
 font-size: 50px;
 font-family:ARIAL BLACK ;
}

p {
 text-align:center;
 font-family:SEGOE UI ;
}

 .Litle {
    width: 150px;
    height: 100px;
}
a { 
  text-align: left;
  
} 
body{
    background-color:aqua ;
}


  
 


 
